# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = worldometer2.settings

[deploy]
url = http://localhost:6800/
project = worldometer2
/var/www/html/project/scrapy1/worldometer2/scrapy.cfg